<!DOCTYPE html>
<html lang="en">
    <%- include ./src/template/views/head.ejs -%>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <%- include ./src/template/views/header.ejs -%>
        <div class="app-body">
            <%- include ./src/template/views/sidebar.ejs -%>
            <!-- Main content -->
            <main class="main">
                <%- include ./src/perfil/views/perfilUser.ejs -%>
                <%- include ./src/perfil/views/updatePerfil.ejs -%>
                <%- include ./src/perfil/views/changePassword.ejs -%>
            </main>
        </div>
        <%- include ./src/template/views/alerts.ejs -%>
        <%- include ./src/template/views/footer.ejs -%>
    </body>
</html>